<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/0ea2c80901.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="full_nav">
                <div class="logo">
                    <img src="images/logo.png" alt="">
                </div>
                <div class="navbar">
                    <nav>
                        <ul>
                            <li>
                                <a href="/"><span class="glyphicon glyphicon-home"></span>HOME</a>
                            </li>
                            <li>
                                <a href="/books"><span class="glyphicon glyphicon-book"></span>BOOKS</a>
                            </li>
                            <li>
                                <a href="/student_login"><span class="glyphicon glyphicon-user"></span>USER_LOGIN</a>
                            </li>
                            <li>
                                <a href="/admin_login"><span class="glyphicon glyphicon-user"></span>ADMIN_LOGIN</a>
                            </li>
                            <li>
                                <a href="/feedback"><span class="glyphicon glyphicon-envelope"></span>FEEDBACK</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <section
            style="background-image: url('./img/404error.png');background-repeat: no-repeat;background-size: cover;background-color : white;">
        </section>
        <footer>
            <br>
            <p style="text-align: center;"><a href="index.html" style="color: white;"><span
                        class="glyphicon glyphicon-arrow-up" style="color: rgb(124, 191, 223);"></span> Back to top</a>
            </p>
            <p>
                &nbsp&nbsp&nbsp<span class="glyphicon glyphicon-link" style="color: rgb(124, 191, 223);"></span> <a
                    href="" style="color: white;text-decoration: none;">facebook</a><br>
                &nbsp&nbsp&nbsp<span class="glyphicon glyphicon-link" style="color: rgb(124, 191, 223);"></span> <a
                    href="" style="color: white;text-decoration: none;">instagram</a><br>
                &nbsp&nbsp&nbsp<span class="glyphicon glyphicon-link" style="color: rgb(124, 191, 223);"></span> <a
                    href="" style="color: white;text-decoration: none;">twitter</a>
            </p>
            <p style="text-align: center;color: white;font-size: 11px;">PrivacyPolicies.com © 2002 - 2021 All rights
                reserved</p>
        </footer>
    </div>
</body>

</html>